.navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: #F6F6F6;
    .navbar_logo {
        max-width: 150px;
        height: auto;
        img{
            width: 100%;
        } 
    }
    .navbar_links {
        ul {
            display: flex;
            list-style: none;
           
            li{
               margin: 20px;
               margin-top: 40px;
               cursor: pointer;
            }
        }
    }
}