<nav class="navbar-container">
    <div class="navbar_logo">
      <img class="" src= "{{imageLogo}}" alt="{{altLogo}}" />
    </div>
    <div class="navbar_links">
      <ul>
        <li role="button" routerLink="/home">Home</li> 
        <li role="button" routerLink="/list">List</li>
        <li role="button" routerLink="/detail">Detail</li>
        <li role="button" routerLink="/about">Contact</li>
      </ul>
    </div>
  </nav>
